# Guest Account Credentials (NEXT_PUBLIC_ prefix required for client-side access)
NEXT_PUBLIC_GUEST_EMAIL=guest@hophamdongngac.org
vNEXT_PUBLIC_GUEST_PASS=hophamdongngac@123

# Add other environment variables here
# NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
# NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
